.board{
      position: relative;
}

.chip_breadbasket{
          position: absolute;
          top: 299px;
          left: 193px;


}


.chip_butterflies{
        position: absolute;
        top: 256px;
        left: 222px;


}



.chip_wishbone{
        position: absolute;
        top: 118px;
        left: 179px;


}


.chip_heart{



}
